.places {
  margin-top: 20px;
}

.places h1 {
  font-size: 30px;
}

.places .places-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 50px;
}

.places article {
  width: 390px;
  border: 1px solid #ff5a5f;
  padding: 20px;
}

.places article .header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.places article .header h2 {
  font-size: 30px;
  text-align: center;
  margin-right: 50px;
}

.places article .header .price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.places article .information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 5px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px 0;
}

.places article .information div {
  width: 100px;
}

footer {
  position: relative;
}
